body {
    background: url('./img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#weather {
    margin: 20px;
}

#description {
    font-size: 35px;
}

#temp {
    font-size: 45px;

}

#location {
    font-size: 35px;
}