body {
    background: url('./img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#weather {
    margin: 20px;
    color: #f5f5f5;
}

#description {
    font-size: 35px;
}

#temp {
    font-size: 45px;
}

#location {
    font-size: 35px;
}

#locationInput {
    margin: 20px;
}

#inputVal {
    height: 100%;
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #f5f5f5;
    font-size: 20px;
}

::placeholder {
    color: #f5f5f5;
}

#inputVal:focus {
    outline: none;
    background-color: transparent;
}

#submit-location {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #f5f5f5;
}